<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hup Holland Hup</title>
</head>
<body>

<h1>Hup Holland Hup</h1>

<form method="post">

    <p>
        <label for="name">Name</label><br>
        <select id="name" name="name">
            {% for person in persons %}
            <option value="{{ person }}">{{ person }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label for="deposit">Einzahlbetrag</label><br>
        <input
            id="deposit"
            name="deposit"
            type="number"
            step="0.01"
            min="0"
            value="0"
            required>
    </p>

    <p>
        <label for="account_value">Account-Wert</label><br>
        <input
            id="account_value"
            name="account_value"
            type="number"
            step="0.01"
            min="0"
            value="0"
            required>
    </p>

    <button type="submit">Speichern</button>

</form>

</body>
</html>

<hr>

<hr>

<h2>Aktueller Stand</h2>

<div>
    {% for s in summaries %}
    <div>
        <h3>{{ s.name }}</h3>

        <p>Einzahlungen: {{ "%.2f"|format(s.deposit_sum) }} € // Account: {{ "%.2f"|format(s.account_value) }} € // Gewinn/Verlust: {{ "%.2f"|format(s.profit) }} €

        {% if s.last_activity %}
            // Letzte Aktivität: {{ s.last_activity.strftime("%d.%m.%Y %H:%M") }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

<hr>

<h2>Einträge</h2>

{% for entry in entries %}

<div>

    <strong>{{ entry.name }}</strong><br>

    Einzahlung:
    {{ "%.2f"|format(entry.deposit) }} €

    <br>

    Account:
    {{ "%.2f"|format(entry.account_value) }} €

    <br>

    {{ entry.created_at }}

</div>

<hr>

{% endfor %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}